body {
	font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
	margin: 16px;
    color: black;
}

/* Center the gif on the front */
.front-gif {
	text-align: center;
}
.cooking-gif {
	width: 300px;
	height: auto;
	display: inline-block;
}

/* Display recipes */
.recipes-row {
	display: flex;
	gap: 2rem;
	justify-content: center;
	margin-top: 20px;
}

.recipe-card {
	flex: 1 1 300px;
	max-width: 320px;
	text-align: center;
	text-decoration: none;
	color: inherit;
}
.recipe-card img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}
.recipe-card .caption {
	margin-top: 0.5rem;
	font-weight: bold;
}

/* Recipe page layout: three columns in a row */
.recipe-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250px, 600px);
    gap: 10px;
    margin: 10px 10px 0px 10px;
}

.recipe-image {
    grid-column: 1;
    grid-row: 1;
    padding: 10px;
    max-width: 100%;
    height: fit-content;
    margin: 10px
}

img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}

.recipe-ingredients {
    grid-column: 2;
    grid-row: 1;
    padding: 10px 10px 10px 30px;
    height: fit-content;
}

.recipe-steps {
    grid-column: 3;
    grid-row: 1;
    padding: 10px;
    height: fit-content;
}

.recipe-description {
    grid-column: 1 / 2;
    grid-row: 2;
}